<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - Dashmix 5</title>

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon.ico">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

    @RenderSection("BeforeStyles", required: false)
    <link rel="stylesheet" id="css-main" href="~/css/dashmix.min.css">
    <link rel="stylesheet" id="css-main" href="~/css/custom.css">
    @RenderSection("AfterStyles", required: false)
</head>

<body>
    <!-- Page Container -->
    <div id="page-container" class="sidebar-o sidebar-dark  side-scroll page-header-fixed">

        @await Html.PartialAsync("_SideOverlay")
        @await Html.PartialAsync("_Sidebar")
        @await Html.PartialAsync("_PageHeader")

        <main id="main-container">
            @RenderBody()
        </main>
        <!-- Footer -->
        <footer id="page-footer" class="bg-body-light">
            <div class="content py-0">
                <div class="row fs-sm">
                    <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a class="fw-semibold" href="https://1.envato.market/ydb" target="_blank">pixelcave</a>
                    </div>
                    <div class="col-sm-6 order-sm-1 text-center text-sm-start">
                        <a class="fw-semibold" href="https://1.envato.market/r6y" target="_blank">Dashmix 5.1</a> &copy; <span data-toggle="year-copy">2022</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/dashmix.app.min.js"></script>

    <!-- jQuery (required for jQuery Validation plugin) -->
    <script src="~/js/lib/jquery.min.js"></script>

    @RenderSection("AfterContent", required: false)
    
</body>
</html>
